
{{>components/form_start}}
{{#entity}}
	
    <div class="form-group">
        <label for="sdhDomain">Sdh domain</label>
        <select class='form-control' name='sdhDomain' required>
            <option value=''>-- Please Select --</option>
            {{#sdhDomainOptions}}            
            <option value={{id}} {{#selected}}selected{{/selected}}>{{label}}</option>
            {{/sdhDomainOptions}}
        </select>
        <div class="invalid-feedback">Value must be present</div>

    </div>

    <div class="form-group">
        <label for="questionNumber">Question number</label>
        <input class='form-control' type='number' name='questionNumber' value='{{#questionNumber}}{{.}}{{/questionNumber}}' />
    </div>

    <div class="form-group">
        <label for="questionText">Question text</label>
        <input class='form-control' type='text' name='questionText' value='{{#questionText}}{{.}}{{/questionText}}'  />
    </div>

{{/entity}}
{{>components/form_end}}
