
{{>layout/header}}
<div class="container">

	<h1>{{entityName}}</h1>
	{{>components/messages}}
	<div>
		{{#entity}}
			
		<h5>Sdh domain</h5> 
		<p>
			{{#sdhDomain}}{{sdhDomain.label}}{{/sdhDomain}}
			{{^sdhDomain}}<span class='text-muted'>None</span>{{/sdhDomain}}
		</p>

			
		<h5>Question number</h5> 
		<p>
			{{#questionNumber}}{{.}}{{/questionNumber}}
			{{^questionNumber}}<span class='text-muted'>None</span>{{/questionNumber}}
		</p>

			
		<h5>Question text</h5> 
		<p>
			{{#questionText}}{{.}}{{/questionText}}
			{{^questionText}}<span class='text-muted'>None</span>{{/questionText}}
		</p>

			{{>components/show_links}}
		{{/entity}}
	</div>
</div>
{{>layout/footer}}
