
{{>components/form_start}}
{{#entity}}
	
    <div class="form-group">
        <label for="patient">Patient</label>
        <select class='form-control' name='patient' required>
            <option value=''>-- Please Select --</option>
            {{#patientOptions}}            
            <option value={{id}} {{#selected}}selected{{/selected}}>{{label}}</option>
            {{/patientOptions}}
        </select>
        <div class="invalid-feedback">Value must be present</div>

    </div>

    <div class="form-group">
        <label for="domain">Domain</label>
        <select class='form-control' name='domain' required>
            <option value=''>-- Please Select --</option>
            {{#domainOptions}}            
            <option value={{id}} {{#selected}}selected{{/selected}}>{{label}}</option>
            {{/domainOptions}}
        </select>
        <div class="invalid-feedback">Value must be present</div>

    </div>

    <div class="form-group">
        <label for="clinicianPriority">Clinician priority</label>
        <select class='form-control' name='clinicianPriority' >
            <option value=''>-- Please Select --</option>
            {{#clinicianPriorityOptions}}            
            <option value={{id}} {{#selected}}selected{{/selected}}>{{label}}</option>
            {{/clinicianPriorityOptions}}
        </select>

    </div>

    <div class="form-group">
        <label for="patientReadiness">Patient readiness</label>
        <select class='form-control' name='patientReadiness' >
            <option value=''>-- Please Select --</option>
            {{#patientReadinessOptions}}            
            <option value={{id}} {{#selected}}selected{{/selected}}>{{label}}</option>
            {{/patientReadinessOptions}}
        </select>

    </div>

{{/entity}}
{{>components/form_end}}
