# Rename this to .env and fill in the appropriate values.

# Define the server context path which is used to contruct URLs. The default is /
#SERVER_SERVLET_CONTEXTPATH=/clinch-it

# Set MySQL passwords - these are the defaults for local development and must be defined here.
MYSQL_PASSWORD=clinch-it
MYSQL_ROOT_PASSWORD=root

# Uncomment and update if you change MYSQL_PASSWORD for local development
# Required if you are using docker-compose.dev.yml
#SPRING_DATASOURCE_PASSWORD=clinch-it

# Required if you are using docker-compose.dev.yml
#SPRING_DATASOURCE_USERNAME=clinch-it
#SPRING_DATASOURCE_URL=jdbc:mysql://octridev.acc.ohsu.edu/clinch-it

# APP_PORT is only used in docker-compose.dev.yml and required
#APP_PORT=12345

