{{>layout/header}}

<div class="container vertical-space">
	<h1>{{ page_title }}</h1>

	<p>Thank you for participating in user acceptance testing for the Clinical Information Needs of CHCs for HIT (CLINCH-IT) project. We are excited to get your feedback on the prototype of our tool. The goal of this tool is to more adequately support the efforts of care team members in addressing the social determinants of health (SDH) of medically and socially complex patients. The design of this tool was informed through direct observation conducted at multiple CHCs in Oregon and Washington. In those practices, we observed the roles of multiple care team members and interviewed a number of members of each care team in each CHC. Through this process and interaction with informatics experts, a variety of health IT needs were identified. We used that information to inform the development of a mock-up or prototype that would address some of the needs identified. That is why we are here today. We want your reactions to what we’ve developed.</p>
</div>

{{>layout/footer}}
