{{>layout/header}}


{{! Id exists; display the 'edit' form }}
{{#entity.id}}
<h1>Edit {{entityName}}</h1>

<div>
    <form name="entityForm" method="POST" action="{{req.contextPath}}{{baseRoute}}/edit/{{id}}" class="needs-validation" novalidate>
    	    	<input type="hidden" name="version" value="{{entity.version}}" />
        <div class="form-group">
            <label for="id">ID</label> 
            <input class='form-control' type='text' disabled='disabled' name='id' value="{{entity.id}}" />
        </div>
{{/entity.id}}


{{! No id; display the 'new' form }}
{{^entity.id}}
<h1>New {{entityName}}</h1>

<div>
	<form name="entityForm" method="POST" action="{{req.contextPath}}{{baseRoute}}/new" class="needs-validation" novalidate>
		{{/entity.id}}