
{{>layout/header}}
<div class="container">

	<h1>{{entityName}}</h1>
	{{>components/messages}}
	<div>
		{{#entity}}
			
		<h5>Description</h5> 
		<p>
			{{#description}}{{.}}{{/description}}
			{{^description}}<span class='text-muted'>None</span>{{/description}}
		</p>

			{{>components/show_links}}
		{{/entity}}
	</div>
</div>
{{>layout/footer}}
